<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex, nofollow" />
    <title>Парсинг рейтинга с сайта "Кинопоиск"</title>

    <!--[if lte IE 6]>
    <script type="text/javascript">
        location.replace("http://dl.dropbox.com/u/2930651/habr/ie6-comic-strip-2.jpg");
    </script>
    <![endif]-->
    <link rel="stylesheet" href="{{  asset('bundles/kinopoiskrating/css/style.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{  asset('bundles/kinopoiskrating/css/ui/jquery-ui.css') }}" type="text/css" media="screen" />
    <script type="text/javascript" src="{{  asset('bundles/kinopoiskrating/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{  asset('bundles/kinopoiskrating/js/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{  asset('bundles/kinopoiskrating/js/datepicker-ru.js') }}"></script>
    <script type="text/javascript" src="{{  asset('bundles/kinopoiskrating/js/script.js') }}"></script>
    <script type="text/javascript" src="{{  asset('bundles/kinopoiskrating/js/jquery.tmpl.js') }}"></script>



</head>
<body onResize="$.footer()">
<div id="background-glare" class="ie6">

    <!--end head!-->

    <div id="main" class="sheet">
        <div class="sheet-body">
            <div class="header">
                {% block header %}
                    <div id="logo">
                        <a href="{{ path('_kinopoisk_rating') }}" class="ie6" title="Парсер рейтинга сайта Кинопоиск.РУ">Парсер рейтинга сайта Кинопоиск.РУ</a>
                    </div>

                {% endblock header %}
            </div>
            <!--begin content-->
            <div id="content">
                {% block content %}

                {% endblock content %}
            </div>

            <!--end content-->
            <div class="cleared"></div>

        </div>
    </div>



</div>
<div id="footer">
    {% block footer %}
        <div class="footer-box">
            <div class="footer-text">
                <div class="cleared"></div>
                <p class="page-footer">&copy;&nbsp;2012&nbsp;Парсер рейтинга сайта &laquo;Кинопоиск.РУ&raquo;</p>
            </div>
            <div class="helper"></div>
        </div>
    {% endblock footer %}

</div>

{% block before_body %}
{% endblock before_body %}

</body>
</html>