{% extends "KinopoiskRatingBundle::layout.html.twig" %}
{% block content %}

    <div class="cleared"></div>
    <form action="{{path('_kinopoisk_rating_filter')}}" id="form-data" method="post" enctype="text/plain">
        <div class="box-select-date">
            <label class="label-field" for="date-filter">Выберите дату:</label>
            <input type="text" class="input-field" value="{{ app.session.get('filter_date') }}" name="filter_date" id="date-filter"/>
        </div>

        <div class="cleared"></div>
    </form>
    <div class="cleared"></div>

    {% set colspan = 5 %}
    <table id="tbl-show-film-info">
        <tr class="no-delete" id="header-film">
            <th class="tbl-number tbl-first">
                <div class="tbl-box">
                    Позиция <span class="l"></span><span class="c">
                </div>
            </th>
            <th class="tbl-name">
                <div class="tbl-box">Название</div>
            </th>
            <th class="tbl-year">
                <div class="tbl-box">Год</div>
            </th>
            <th class="tbl-rating">
                <div class="tbl-box">Рейтинг</div>
            </th>
            <th class="tbl-vote tbl-last">
                <div class="tbl-box">
                    <span class="r"></span><span class="c"></span>Количество голосов
                </div>
            </th>
        </tr>

        {% for item in FILM_INFO %}
            <tr class="{{ cycle(['odd', 'even'], loop.index) }} " >
                <td class="td-row-film tbl-position">{{ item.position }}</td>
                <td class="td-row-film tbl-name">{{ item.name }}</td>
                <td class="td-row-film tbl-year">{{ item.year }}</td>
                <td class="td-row-film tbl-rating">{{ item.rating|number_format(3, '.', ' ') }}</td>
                <td class="td-row-film tbl-vote">{{ item.vote|number_format(0, '.', ' ') }}</td>
            </tr>

        {% endfor %}

        <tr id="no-films"  class="no-delete" {% if FILM_INFO|length > 0 %} style="display:none;" {% endif %}>
            <td class="no-films" align="center" colspan="{{ colspan }}">
                - Нет информации -
            </td>
        </tr>
        <tr class="total no-delete">
            <td colspan="{{colspan}}">
                <div class="tbl-box">
                    <span class="l"></span> <span class="r"></span><span class="c"></span>
                    &nbsp;
                </div>
            </td>
        </tr>

    </table>
{% endblock content %}


{% block before_body %}
    {% raw %}
<script id="jQueryTpl-table-rows" type="text/x-jquery-tmpl">
    <tr class="{{if $item.data.position%2==0}}even{{else}}odd{{/if}}">
        <td class="td-row-film tbl-position">${position}</td>
        <td class="td-row-film tbl-name">${name}</td>
        <td class="td-row-film tbl-year">${year}</td>
        <td class="td-row-film tbl-rating">${rating}</td>
        <td class="td-row-film tbl-vote">${vote}</td>
    </tr>
</script>
{% endraw %}
{% endblock before_body %}
